.custom-input {
  width: 513px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid #cbcbcb;
}
.custom-textArea {
  width: 513px;
  height: 90px;
  top: 465px;
  left: 48px;
  padding: 13px 67px 61px 18px;
  border-radius: 4px;
  border: 1px solid #cbcbcb;
  overflow: hidden;
}
.activeStep0Btn {
  position: absolute;
  margin-top: 3rem;
}
.activeStepOtherBtn {
}
/* 000000000000000000000 */
